@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.app-header {
  text-align: center;
}

.app-body {
  margin: 0rem 2rem 0rem 2rem;
}

/* Utils */
.loader {
  position: relative;
}

.spinner {
  position: absolute;
  top: 180px;
  left: 60%;
}
.section-title {
  padding: 1rem;
}

/* On screens that are 768px wide or less, make the font size 16px */
@media screen and (max-width: 768px) {
  .spinner {
    top: 70px;
    left: 40%;
  }
}

@media (max-width: 400px) {
  .section-title {
    margin-top: 2rem;
  }
}
